@model odev.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Getir Sayfası</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Departmanid)
        @Html.LabelFor(x => x.DepartmanAdi)
        @Html.TextBoxFor(x => x.DepartmanAdi, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Güncelle</button>
}

